@import url(fontes.css);

body, p {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    height: 79px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header #barraDePesquisa i {
    position: absolute;
    left: 145px; 
    top: 32px;
    transform: translateY(-50%);
    transform: translateX(750%);
    z-index: 1;
}

header div input {
    position: relative;
    width: 153px;
    height: 41px;
    padding: 12px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: #F2F2F2;
}

header #barraDePesquisa:hover {
    border-bottom: 1px solid gray;
}

#menu ul {
    width: 502px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu ul li {
    margin-right: 30px;
    list-style: none;
}

#menu ul li a {
    color: #696969;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

#menu ul li a:hover {
    color: #194D91;
}

#menu ul li a:active {
    color: #194D91;
}

#menu ul li a:link {
    color: #696969;
}

#redesSociais {
    display: flex;
    justify-content: space-around;
}

#redesSociais i {
    color: #9a9c9e;
    margin-right: 20px;
}

#redesSociais i.ultimo {
    margin-right: 0;
}

#redesSociais i:hover {
    color: #194D91;
}

main #boasVindas {
    display: flex;
    flex-direction: column;
    height: 475px;
    background: url(../imagens/imagem-sessao-boas-vindas\(2\).webp) no-repeat;
    text-align: center;
    color: #FFFFFF;
}

main #boasVindas div{  
    margin: 80px 0; 
}

main #boasVindas h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Avenir Light', sans-serif;
}

main #boasVindas p.p1 {
    font-family: 'Avenir Light', sans-serif;
    font-size: 70px;
    font-weight: 900;
}

main #boasVindas p.p2 {
    font-size: 18px;
    font-weight: 100;
    font-family: 'Avenir Light', sans-serif;
}

main #categorias {
    height: 475px;
    text-align: center;
    /* border: 1px solid blueviolet; */
}

main #categorias p {
    margin: 70px 200px;
    font-family: 'Avenir Light', sans-serif;
    font-size: 15px;
    color: #696969;
}

main #categorias div {
    display: flex;
    justify-content: center;
}

main #categorias div section {
    position: relative;
    margin-right: 15px;
    margin-bottom: 0;
}

main #categorias div section button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #2573DA;
    font-family: 'EB Garamond';
    font-size: 24px;
}

main #categorias div section button:hover {
    background-color: #2573DA;
    color: #FFFFFF;
}

#acessorias {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 165px;
    background-color: #F2F2F2;
}

#acessorias .vistoEm {
    margin-top: 20px;
}

#acessorias h2 {
    font-family: 'EB Garamond';
    font-weight: 100;
    font-size: 24px;
    color: #000000;
    text-align: start;
    border-right: 2px solid gray;
    display: inline; 
    padding-right: 15px;
    margin-top: 20px;
}

#acessorias .viagensBlog {
    margin-bottom: 15px;
}

#acessorias span p.primeirop{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align-last: right;
    line-height: 0.8em;
}

#acessorias span p span {
    font-family: 'Helvetica Light';
    font-weight: 0;
    font-size: 20px;
}

#acessorias .tourAviao {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-top: 15  px;
}

#acessorias  .tourAviao i{
    margin-bottom: 5px;
    transform: rotate(315deg);
    transform: translate();
}

#acessorias .tourAviao p{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

#acessorias .viagemMundial {
    font-family: 'Lulo Clean', sans-serif;
    font-weight: 900;
    font-size: 21px;
    letter-spacing: 0.2em;
    line-height: 1em;
    margin-bottom: 22px;
}

#acessorias .nuvemSky {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

#acessorias .nuvemSky i {
    transform: translate(70%);
    margin-bottom: 5px;
}

#acessorias .nuvemSky p{
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 24px;
}